# Root .editorconfig file.
root = true

[*]
# Includes *.{cs,css,cshtml,htm,html,java,js,kt,py,qs,razor,svg,xaml}
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bat,cmd}]
end_of_line = crlf

[*.{c,cpp,h,proc}]
indent_style = tab

[*.{appxmanifest,manifest,csproj,vcxproj,settings,plist,props,slnx,targets}]
end_of_line = crlf
indent_size = 2

[*.{json,runsettings,sh,xml,yml,yaml}]
indent_size = 2

[*.{md,rst}]
indent_size = 2
trim_trailing_whitespace = false

[*.{pubxml,resx}]
charset = utf-8-bom
end_of_line = crlf
indent_size = 2

[*.{sln,tt}]
charset = utf-8-bom
end_of_line = crlf
indent_style = tab

[*.Designer.cs]
charset = utf-8-bom
end_of_line = crlf

# Exceptions to the general rules.

[*.DotSettings]
indent_style = none
trim_trailing_whitespace = false

[nuget.config]
indent_size = 2
